<h1>Listing taches</h1>

<h2><%= @prediction_date_fin %></h2>

<%= image_tag "http://chart.apis.google.com/chart?chs=520x200&cht=lxy&chd=t:0,10|0,0|#{@google_graph_data}&chxt=x,y&chds=0,10,0,20,0,10,0,20,0,10,0,20&chxp=0,0,10,30,40,80,100&chxr=1,0,20,5&chm=b,CCCCEE,0,1,0|b,EECCCC,1,2,0" %>

<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Commentaire</th>
    <th>Poids</th>
    <th>Statut</th>
    <th>Date entree</th>
    <th>Date sortie</th>
  </tr>

<% @taches.each do |tache| %>
  <tr>
    <td><%=h tache.id %></td>
    <td><%=h tache.description %></td>
    <td><%=h tache.commentaire %></td>
    <td><%=h tache.poids %></td>
    <td><%=h tache.statut %></td>
    <td><%=l tache.date_entree %></td>
    <td><%=l tache.date_sortie if tache.date_sortie %></td>
    <td><%= link_to 'Show', tache %></td>
    <td><%= link_to 'Edit', edit_tache_path(tache) %></td>
    <td><%= link_to 'Destroy', tache, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tache', new_tache_path %>