<% content_for :head do %>
	<%= stylesheet_link_tag 'paco/projet/show' %>
	<%= javascript_include_tag 'paco/projet/show' %>
<% end %>

<h1><%= @prediction_date_fin %></h1>
<h1><%= @tout_va_bien ? "Tout va bien" : "C'est inquiétant" %></h1>

<div class='google-graphe-top'></div>
<div class='google-graphe'>
<%= image_tag "http://chart.apis.google.com/chart?chs=930x300&cht=lxy&chd=t:0,#{@google_graph[:max_x]}|0,0|#{@google_graph[:data]}|#{@google_graph[:stabilisation_backlog]}&chxt=x,y&chds=0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]},0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]},0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]},0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]}&chxr=0,0,#{@google_graph[:max_x]},5|1,0,#{@google_graph[:max_y]},5&chm=b,e6f2d5,0,1,0|b,b2e7fa,1,2,0&chco=666666,00aef0,afc800,666666&chls=1,1,0|2,1,0|2,1,0|1,3,2" %>
</div>
<div class='google-graphe-bottom'></div>

<div class='google-graphe-top'></div>
<div class='google-graphe'>
<%= image_tag "http://chart.apis.google.com/chart?chs=930x300&cht=lxy&chd=t:#{@graphe_historique[:data]}&chxt=x,y&chds=0,#{@graphe_historique[:max_x]},0,#{@graphe_historique[:max_y]}&chxr=0,0,#{@graphe_historique[:max_x]},5|1,0,#{@graphe_historique[:max_y]},30&chco=666666" %>
</div>
<div class='google-graphe-bottom'></div>


<h3>Backlog</h3>

<div class='liens'>
<%= link_to 'Afficher/Masquer les tâches terminées', '#', :class => :toggle_terminees %>
<% if mode_admin? %>
	| <%= link_to 'Ajouter une tâche', new_admin_projet_tache_path %>
<% end %>
</div>


<% @taches.each do |tache| %>
  <dl <%= "class='terminee'" if tache.terminee? %>'>
    <dt>#<%=h tache.id %> : <%=h tache.description %></dt>
    <dd>entrée le <%=l tache.date_entree %>, <%= "sortie le #{l tache.date_sortie}, statut #{tache.statut}," if tache.date_sortie %> poids <%=h tache.poids %></dd>
    <%= "<dd> #{tache.commentaire} </dd>" if tache.commentaire %>
		<% if mode_admin?  %>
		<dd><%= link_to 'Edit', edit_admin_projet_tache_path(tache)  %> | <%= link_to 'Destroy', admin_projet_tache_path(tache), :confirm => 'Are you sure?', :method => :delete %></dd>
		<% end %>
  </dl>
<% end %>

<div class='liens'>
<%= link_to 'Afficher/Masquer les tâches terminées', '#', :class => :toggle_terminees %>
<% if mode_admin? %>
	| <%= link_to 'Ajouter une tâche', new_admin_projet_tache_path %>
<% end %>
</div>
