<% content_for :head do %>
	<%= javascript_include_tag 'paco/projet/show' %>
<% end %>

<h1><%= @prediction_date_fin %></h1>

<div class='google-graphe-top'></div>
<div class='google-graphe'>

<%= image_tag "http://chart.apis.google.com/chart?chs=930x300&cht=lxy&chd=t:0,#{@google_graph[:max_x]}|0,0|#{@google_graph[:data]}|#{@google_graph[:stabilisation_backlog]}&chxt=x,y&chds=0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]},0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]},0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]},0,#{@google_graph[:max_x]},0,#{@google_graph[:max_y]}&chxr=0,0,#{@google_graph[:max_x]},5|1,0,#{@google_graph[:max_y]},5&chm=b,e6f2d5,0,1,0|b,b2e7fa,1,2,0&chco=666666,00aef0,afc800,666666&chls=1,1,0|2,1,0|2,1,0|1,3,2" %>

</div>
<div class='google-graphe-bottom'></div>

<h3>Backlog</h3>

<%= link_to 'Afficher/Masquer les tâches terminées', '#', :class => :toggle_terminees %>
<% if mode_admin? %>
	| <%= link_to 'Ajouter une tâche', new_admin_projet_tache_path %>
<% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Date entrée</th>
    <th>Description</th>
    <th>Statut</th>
    <th>Date sortie</th>
    <th>Poids</th>
    <th>Commentaire</th>
  </tr>

<% @taches.each do |tache| %>
  <tr <%= "class='terminee'" if tache.terminee? %>>
    <td><%=h tache.id %></td>
    <td><%=l tache.date_entree %></td>
    <td><%=h tache.description %></td>
    <td><%=h tache.statut %></td>
    <td><%=l tache.date_sortie if tache.date_sortie %></td>
    <td><%=h tache.poids %></td>
    <td><%=h tache.commentaire %></td>
    <td><%= link_to 'Show', admin_projet_tache_path(tache) if mode_admin? %></td>
    <td><%= link_to 'Edit', edit_admin_projet_tache_path(tache) if mode_admin? %></td>
    <td><%= link_to 'Destroy', admin_projet_tache_path(tache), :confirm => 'Are you sure?', :method => :delete if mode_admin? %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Afficher/Masquer les tâches terminées', '#', :class => :toggle_terminees %>
<% if mode_admin? %>
	| <%= link_to 'Ajouter une tâche', new_admin_projet_tache_path %>
<% end %>

