<% @etiquetages.each do |tag, etiquetages| %>
	<h2><%= tag.description %></h2>
	<dl>
		<% for etiquetage in etiquetages do %>
			<dt><%=h etiquetage.tache.description %></dt>
    	<dd><%= link_to 'Show', [:admin, etiquetage] if mode_admin? %></dd>
    	<dd><%= link_to 'Edit', edit_admin_etiquetage_path(etiquetage) if mode_admin? %></dd>
    	<dd><%= link_to 'Destroy', [:admin, etiquetage], :confirm => 'Are you sure?', :method => :delete if mode_admin?	%></dd>
		<% end %>
	</dl>
<% end %>