<h1>Editing tag</h1>

<% form_for([:admin, @tag]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @tag] %> |
<%= link_to 'Back', admin_tags_path %>